@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Role Management";
}

<h2>Role Management</h2>

<p>
    @Html.ActionLink("Create New Role", "Create")
</p>

<table class="table">
    <tr>
        <th>Role Name</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
        </tr>
    }
</table>
